.posts_main_container {
  padding-top: 100px !important;
  width: 100%;
}

.search_bar{
    border: 2px solid red;
    min-height: 80px;
    max-height: 260px;
    margin: auto;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  
}
.form_search_bar{
    position: relative;
}
.search_image_bar{
    position: absolute;
    top: 13px;
    left: 10px;
}
.location_image_bar{
    position: absolute;
    top: 13px;
    left: 310px;
}
.search_bar_input{
    /* height: 50px;
    width:45%;
    border: 1px solid rgb(179, 179, 179);
    border-radius: 5px;
    padding-left: 15px;
    margin-bottom: 10px; */
    
}
.search_btn{
    height: 50px;
    background-color: #1d2445;
    color: white;
    width: 18%;
    border: none;
    border-radius: 5px;
}
.posts {
  height: 290px;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid rgb(202, 202, 202);
  border-left: 3px solid black;
  margin: 15px auto;
}
.posts:hover {
  cursor: pointer;
  background-color: #d3f6ff4d;
}

.post_first_sec {
  display: flex;
  justify-content: flex-start;
  flex-wrap: nowrap;
  height: 160px;
  margin-bottom: 5px;
}
.post_image {
  height: 80px;
  width: 80px;
  border: 2px solid black;
  border-radius: 5px;
}
.post_name_sec {
  padding-left: 10px;
}
.company_name {
  font-size: 13px;
  margin-bottom: 15px;
}
.post_address {
  font-size: 14px;
  margin-bottom: 8px;
}
.post_btn {
  height: 20px;
  border: none;
  font-size: 12px;
  border-radius: 5px;
  margin-top: -10px !important;
  color: #666;
  background-color: #daebd1;
}
.mnth_ago_link {
  display: block;
  font-size: 13px;
  color: rgb(36, 104, 36);
  text-decoration: none;
}
.post_footer {
  display: flex;
  flex-direction: column;
  border-top: 2px solid rgb(226, 226, 226);
  height: 100px;
  width: 100%;
  /* margin-top: 35px; */
  padding: 10px 15px;
  background-color: #f5f5f5;
}
.detail_desc {
  display: inline-block;
  font-size: 14px;
  max-height: 46px;
  min-height: 40px;
  overflow: hidden;
}
.detail_btn_sec {
  display: flex;
  justify-content: flex-end;
}
.Detail_btn {
  background-color: #1d2445;
  color: white;
  border: none;
  border-radius: 15px;
  height: 25px;
  width: 80px;
  font-size: 13px;
}
